<app-header></app-header>
<p>error works!</p>
<!-- <div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-6">
      <div class="errorImg">
        <img src="../../../assets/images/errorPage/pageNotFound.png" title="List page not found" alt="error-page"
          class="img-fluid">
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <div class="returnToEventsPage d-flex align-items-center">
        <a class="btn btn-cancel mx-2" routerLink="/events">Go to Events List</a>
      </div>
    </div>
  </div>


</div> -->

<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-6">
      <div class="errorImg">
        <img src="../../../assets//images/errorPage/pageNotFound.png" alt="">
      </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <div class="returnToEventPage d-flex align-items-center">
        <a routerLink="/events">Go To Events</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
