<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/events">Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" [(ngModel)]="text" [(value)]="text" #name name="name"
        (keyup)="updateText($event)" type="search" placeholder="Search" aria-label="Search" />
    </form>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light-nav fixed-top">
  <a class="navbar-brand text-uppercase" routerLink="/events">Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto nav-links-btn">
      <li class="nav-item py-2">
        <div class="form-group has-search m-0">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" [(ngModel)]="text" [(value)]="text" #name name="name" (keyup)="updateText($event)"
            class="form-control m-0" placeholder="Search for event" />
        </div>
      </li>
    </ul>
  </div>
</nav> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light-nav fixed-top">
  <a class="navbar-brand text-uppercase" routerLink="/events">Events</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar1"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar1">
    <ul class="navbar-nav ml-auto nav-links-btn">
      <li class="nav-item py-2">
        <div class="form-group has-search m-0">
          <span class="fa fa-search form-control-feedback"></span>
          <input
            type="text"
            [(ngModel)]="text"
            [(value)]="text"
            #name
            name="name"
            (keyup)="updateText($event)"
            class="form-control m-0"
            placeholder="Search for event"
          />
        </div>
      </li>
    </ul>
  </div>
</nav> -->
